In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\Sahil'

In [3]:
df = pd.read_csv("C:\\Users\\Sahil\\Downloads\\Cleaned_Bird Strikes data.xlsx - Bird Strikes.csv")

In [4]:
df.shape

(25558, 26)

In [5]:
df.isnull().sum()

Record ID                                     0
Aircraft: Type                              129
Airport: Name                               129
Altitude bin                                129
Aircraft: Make/Model                          0
Wildlife: Number struck                     129
Wildlife: Number Struck Actual                0
Effect: Impact to flight                    129
FlightDate                                  129
Effect: Indicated Damage                      0
Aircraft: Number of engines?                267
Aircraft: Airline/Operator                  129
Origin State                                449
When: Phase of flight                       129
Conditions: Precipitation                     0
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Remarks                                    4771
Wildlife: Size                              129
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?          129
Cost: Total $                                 0
Feet above ground                           129
Number of people injured                      0
Is Aircraft Large?                          129
dtype: int64

In [6]:
df.dropna(inplace = True)

In [7]:
df.isnull().sum() #this implies our data is now free from null values.

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Remarks                                    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [8]:
df.shape

(20142, 26)

In [9]:
duplicates = df[df.duplicated()]

In [10]:
duplicates #this clearly implies that our data is free of duplicate values.

Empty DataFrame
Columns: [Record ID, Aircraft: Type, Airport: Name, Altitude bin, Aircraft: Make/Model, Wildlife: Number struck, Wildlife: Number Struck Actual, Effect: Impact to flight, FlightDate, Effect: Indicated Damage, Aircraft: Number of engines?, Aircraft: Airline/Operator, Origin State, When: Phase of flight, Conditions: Precipitation, Remains of wildlife collected?, Remains of wildlife sent to Smithsonian, Remarks, Wildlife: Size, Conditions: Sky, Wildlife: Species, Pilot warned of birds or wildlife?, Cost: Total $, Feet above ground, Number of people injured, Is Aircraft Large?]
Index: []

[0 rows x 26 columns]

In [11]:
df.to_csv("C:\\Users\\Sahil\\Downloads\\Cleaned_Bird_Strike.csv")